Language: Cpp
BasedOnStyle: Microsoft
PointerAlignment: Left
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AccessModifierOffset: -4
NamespaceIndentation: All
IndentCaseLabels: true

# Column length settings
ColumnLimit: 150              # Maximum line length
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakString: 1000
PenaltyBreakComment: 300
PenaltyReturnTypeOnItsOwnLine: 200
AlignOperands: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Line breaking for long lines
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: Align
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeColon

# Spacing
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: true